<div class="container">
    <div class="section">

      <!--   Icon Section   -->
        <div class="row">
            
            <table class="striped highlight">
                <thead>
                  <tr>
                      <th>Matricul</th>
                      <th>Name</th>
                      <th>Job Title</th>
                      <th>Salary</th>
                      <th>Is Fired ?</th>
                  </tr>
                </thead>
        
                <tbody>
                    <% allEmployees.forEach((emp) => { %>
                        <tr>
                            <td><%= emp.matricul %></td>
                            <td><%= emp.name %></td>
                            <td><%= emp.jobTitle %></td>
                            <td><%= emp.salary %></td>
                            <td><%= emp.fired %></td>
                        </tr>
                    <% }) %>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>

